.LandingPage {
  /* Frame 24 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 1440px;
  height: 910px;

  background: #ffffff;
}

.AppLogo {
  /* St Bernards Logo 3 2 */

  width: 76px;
  height: 73px;

  background: url(logo.png);
  border-radius: 35px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppTitle {
  /* Frame 2 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;

  width: 578px;
  height: 75px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.TextTitle {
  /* St Bernard */

  width: 260px;
  height: 75px;

  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  letter-spacing: 0.03em;

  /* Black */

  color: #121212;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.TextImage {
  /* Image */

  width: 300px;
  height: 50px;

  background: url(avax.png);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.TitleHeader {
  /* Frame 12 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 31px 10px 33px;
  gap: 40px;

  width: 1440px;
  height: 121px;

  background: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.BodyForText {
  /* Frame 14 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 630px 0px 0px;
  gap: 20px;

  width: 1440px;
  height: 220px;

  background: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.TextForBodyBlack {
  /* Empowering Patients with Secure and Decentralized Health Information Access */

  width: 719px;
  height: 210px;

  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 70px;
  /* or 130% */

  letter-spacing: 0.02em;

  /* Black */

  color: #121212;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.BodyForText2 {
  /* Frame 16 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 724px 0px 0px;
  gap: 50px;

  width: 1440px;
  height: 97px;

  background: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.TextForBody2 {
  /* Health carely is a new way to get health insurance quotes. We offer tools similar to those provided by insurance companies for free and prices are based on donations and not restrictive health plan networks. */

  width: 611px;
  height: 60px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.03em;

  /* Grey */

  color: #696969;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.ButtonSet {
  /* Frame 18 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 739px 4px 0px;
  gap: 149px;

  width: 1440px;
  height: 58px;

  background: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.App-link {
  color: #61dafb;
}

.Button {
  /* Frame 3 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  gap: 10px;

  width: 194px;
  height: 44px;

  /* Primary */

  background: #4d77ff;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.TextButton {
  /* Connect to MetaMask */

  width: 150px;
  height: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  letter-spacing: 0.03em;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar {
  /* Navbar */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 110px;

  width: 1228px;
  height: 91px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.BodyForElypse {
  /* Frame 22 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 0px 0px 391px;
  gap: 10px;

  width: 1440px;
  height: 402px;

  background: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}

.Elypse {
  /* Image */

  width: 1047.5px;
  height: 402px;

  background: url(index.png);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
